div.col-xs-10 ul.blog-info{
    list-style-type: none;
    margin-bottom: 1em;
}

div.col-xs-10 ul.blog-info li{
    display: inline-block;
    margin-right: 1em;
}

div.contend p{
    text-indent: 2em;
    margin-bottom:2em;
}

div.blog_more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
}

h3.comment-area-title{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget{
    width: 100%;
}

div.comment-text{
    border-bottom:1px dashed #cccccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1.5em;
}

div.reply{
    margin-left:2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div#reply_content_container{
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

p#reply_title{
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 0.5em;
}

span#comment_error_or_success{
    font-size: 20px;
}

div.like{
    color:#337ab7;
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}

div.dislike{
    color:#337ab7;
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 0.3em;
}

div.dislike .active{
    color: #f22;
}

div.comment-specific-text p{
    margin-top: 10px;
}

div.reply-specific-text p{
    margin-top: 5px;
    margin-bottom: 5px;
}

button.toTop-arrow{
    position: fixed;
    z-index: 99;
    right: 2em;
    top:460px;
    bottom: 50px;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    margin: 0;
    border: 0;
}

button.to-bottom{
    position: fixed;
    z-index: 99;
    right: 2em;
    top:500px;
    bottom: 0;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    margin: 0;
    border: 0;
}
div.to-top-bottom button::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.4rem;
}

/* 取消点击按钮时的聚焦 */
div.to-top-bottom button:focus {
    outline: none;
}

/* 消除代码块和子之间的空格 */
div.contend p{
    margin-bottom: 0;
}

div.my-live-2d{
    position: fixed;
    right: 0;
    bottom: 0;
    /*width: 200px;*/
    height: 300px;
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
}