div.col-xs-10 ul.blog-info{
    list-style-type: none;
    margin-bottom: 1em;
}

div.col-xs-10 ul.blog-info li{
    display: inline-block;
    margin-right: 1em;
}

div.contend p{
    text-indent: 2em;
}

div.blog_more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
}

h3.comment-area-title{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget{
    width: 100%;
}
