{% extends 'base.html' %}

{% load staticfiles %}
{% load comment_tags %}  <!--加载template模板，就是自定义模板文件的文件名-->
{% load like_tags %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog_detail.css' %}">
    <link rel="stylesheet" href="/static/googlecode.css">
    <script src="/static/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'prism/lib/prism/prism_patched.min.js'  %}" type="text/javascript"></script>
{#    <link rel="stylesheet"#}
{#      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>#}
{#    <script>hljs.initHighlightingOnLoad();</script>#}
{% endblock %}

{% block title %}
    {{ blog_detail.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>{{ blog_detail.title }}</h2>
            <ul class="blog-info">
                <li>作者是：{{ blog_detail.author }}</li>
                <li>创作时间：{{ blog_detail.created_time | date:'Y-m-d H:i:s' }}</li>
                <li>博客类型是：
                {#{{ blog_detail.blog_type.pk }}#}
                <!--blog_detail.blog_type.pk为传进urls.py的数据-->
                <a href="{% url 'blog_with_type' blog_detail.blog_type.pk %}">{{ blog_detail.blog_type }}</a>
                </li>
                <li>阅读次数：{{ blog_detail.get_read_num }}</li>
                <li>评论数：{% get_comment_count blog_detail %}</li>
            </ul>
            <div class="contend">
                <p>{{ blog_detail.content | safe }}</p>
            </div>
            <!--触发点赞或者取消点赞事件,把this(整个div块都传给ajax的这个function)-->
            <div class="like" onclick="likeChange(this, '{% get_content_type blog_detail %}', {{ blog_detail.pk }})">
                <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog_detail request.user %}"></span>
                <span class="liked-num">{% get_like_num blog_detail %}</span>
                <span>喜欢</span>
            </div>
            <div class="dislike" onclick="dislikeChange(this, '{% get_content_type blog_detail %}', {{ blog_detail.pk }})">
                <span class="glyphicon glyphicon-thumbs-down {% get_dislike_status blog_detail request.user %}"></span>
                <span class="disliked-num">{% get_dislike_num blog_detail %}</span>
                <span>不喜欢</span>
            </div>
            <div class="blog_more">
                {% if previous_blog %}
                    <p>上一篇：<a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a></p>
                {% else %}
                    <p>上一篇：没有了</p>
                {% endif %}
                {% if next_blog %}
                    <p>下一篇：<a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></p>
                {% else %}
                    <p>下一篇：没有了</p>
                {% endif %}
            </div>
            <div>
                {% if blog_detail.author == request.user %}
                    <span class="glyphicon glyphicon-pencil">
                        <a href="{% url 'create_editor_blog' blog_detail.pk %}?from={{ request.get_full_path }}">编辑博文</a>
                    </span>
                    <span class="glyphicon glyphicon-remove">
                        <!--点击事件是del，del返回true这样就是确认，false就是取消这次点击时间-->
                        <a id="delete_blog" href="{% url 'delete_blog' blog_detail.pk %}" onclick="return del();">删除博客</a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="comment-area">
                <h3 class="comment-area-title">提交评论</h3>
                {% if request.user.is_authenticated %}  <!--判断是否已经登录-->
                    <!--这里的url是后面创建的用于前端向后台提交数据的-->
                    <form id="comment_form" action="{% url 'update_comment' %}" method="post">
                    <label>
                        <p>{{ user.get_nickname_or_username }}, 欢迎评论！</p>
                        <a href="{% url 'logout' %}">注销</a>
                    </label>
                    <!--回复的时候，回复富文本编辑器所在的位置-->
                    <div id="reply_content_container" style="display:none;">
                        <p id="reply_title">回复：</p>
                        <div id="reply_content"></div>
                    </div>
                    {% csrf_token %}
                        <!--comment_form使用自定义标签中的方法进行生成，for取出form表单中所有元素，生成html-->
                        {% get_comment_form blog_detail as comment_form %}
                        {% for foo in comment_form %}
                            {{ foo }}
                        {% endfor %}
                    <!--用于ajax显示错误信息的地方-->
                    <span id="comment_error_or_success" class="text-danger pull-left"></span>
                        <input type="submit" value="提交评论" class="btn btn-primary pull-right">
                    </form>
                {% else %}
                    <h4>未登录，请登录或注册后再评论！</h4>
                    <!--进行登录操作，并且将目前网页的路径传给login页面，方便登录完毕之后跳转回来-->
                    <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                    <span>或者</span>
                    <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                {% endif %}
            </div>
            <div class="comment-area">
                <h3 class="comment-area-title">评论列表</h3>
                <div id="comment_list">
                    {% get_comment blog_detail as comments %}
                    {% for comment in comments %}
                    <div id="root_{{ comment.pk }}" class="comment-text">
                        <span>
                            <img src="{{ comment.user.get_avatar_url }}" class="img-circle navbar-avatar" alt="Cinque Terre">
                        </span>
                        <span>{{ comment.user.get_nickname_or_username }}</span>
                        <span>({{ comment.comment_time | date:"Y-m-d H:i:s"}}):</span>
                        <!--在回复的时候，需要显示被回复的内容是什么，所以要取到该值-->
                        <div id="content_{{ comment.pk }}" class="comment-specific-text">
                            {{ comment.text | safe}}
                        </div>
                        <!--触发点赞或者取消点赞事件,把this(整个div块都传给ajax的这个function)-->
                        <div class="like" onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
                            <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment request.user %}"></span>
                            <span class="liked-num">{% get_like_num comment %}</span>
                            <span>喜欢</span>
                        </div>
                        <div class="dislike" onclick="dislikeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
                            <span class="glyphicon glyphicon-thumbs-down {% get_dislike_status comment request.user %}"></span>
                            <span class="disliked-num">{% get_dislike_num comment %}</span>
                            <span>不喜欢</span>
                        </div>
                        <!--添加回复按钮，调用javascript方法-->
                        <a href="javascript:reply({{ comment.pk }});">回复</a>

                        <!--通过root_comment反向获取该条评论的所有回复-->
                        {% for reply in comment.root_comment.all %}
                            <div class="reply">
                                <span>
                                    <img src="{{ reply.user.get_avatar_url }}" class="img-circle navbar-avatar" alt="Cinque Terre">
                                </span>
                                <span>{{ reply.user.get_nickname_or_username }}</span>
                                <span>({{ reply.comment_time | date:"Y-m-d H:i:s" }})</span>
                                <span>回复</span>
                                <span>{{ reply.reply_to.get_nickname_or_username }}:</span>
                                <!--在回复的时候，需要显示被回复的内容是什么，所以要取到该值-->
                                <div id="content_{{ reply.pk }}" class="reply-specific-text">
                                    {{ reply.text | safe}}
                                </div>
                                <div class="like" onclick="likeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply request.user %}"></span>
                                    <span class="liked-num">{% get_like_num reply %}</span>
                                    <span>喜欢</span>
                                </div>
                                <div class="dislike" onclick="dislikeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                    <span class="glyphicon glyphicon-thumbs-down {% get_dislike_status reply request.user %}"></span>
                                    <span class="disliked-num">{% get_dislike_num reply %}</span>
                                    <span>不喜欢</span>
                                </div>
                                <!--添加回复按钮，调用javascript方法-->
                                <a href="javascript:reply({{ reply.pk }});">回复</a>
                            </div>
                        {% endfor %}
                    </div>
                {% empty %}
                    <span id="no_comment">暂无评论，评论一个？</span>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        // 删除确认框
        function del() {
            if (confirm('确认删除这篇博客？'))
            {
                return true;
            }
            else
            {
                return false;
            }
        }
        // 替换前端数据中的{数字}，比如{0}+{1}+{0},a,b 就会替换成{a}+{b}+{a}
        String.prototype.format = function () {
            var str = this;  // 接收前端传进来的文件
            for (var i = 0; i < arguments.length; i++){
                var str = str.replace(new RegExp('\\{' + i + '\\}', 'g'), arguments[i])
            }
            return str;
        };
        function reply(reply_comment_id){
            try {
                    // 点击回复的时候，被回复评论的值就需要变为被回复评论的PK值
                $("#reply_comment_id").val(reply_comment_id);
                var html = $("#content_" + reply_comment_id).html();
                $("#reply_content").html(html);  // 取出被回复的内容然后放到reply_content这个元素中
                $("#reply_content_container").show();
                $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                    // 获取到富文本编辑器，并聚焦
                    CKEDITOR.instances['id_text'].focus();
                });
            }catch (e) {
                alert('未登录，请先登录后回复！');
                $('#login_modal').modal('show');
            }
        }
        {#<!--这句话的意思式获取到id为comment_form元素，然后获取到submit按钮，利用ajax进行异步提交-->#}
        $("#comment_form").submit(function () {
            // 清空错误信息
            $("#comment_error_or_success").text('');
            // 判断传入的内容是否为空
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
                $("#comment_error_or_success").text('评论不能为空！');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            // 异步提交数据
            $.ajax({
                url:"{% url 'update_comment' %}",
                type:'POST',
                // 这里以下就是获取view中update_comment返回的数据了，上面是提交数据给update_comment
                data:$("#comment_form").serialize(),  <!--讲前端的数据返回给后端也就是上面相应的链接update_comment-->
                cache:false,
                success:function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 提交了评论并且显示到了评论区之后清空输入框里面的数据
                        if($('#reply_comment_id').val()=='0'){  //这是一条评论
                            {#var comment_html = '<div id="root_' + data['pk'] + '" class="comment-text">' +#}
                            {#    '<span>' + data['username'] + '</span>' +#}
                            {#    '<span>(' + data['comment_time'] + '):</span>' +#}
                            {#    <!--在回复的时候，需要显示被回复的内容是什么，所以要取到该值-->#}
                            {#    '<div id="content_' + data['pk'] + '">' +#}
                            {#        data['text'] +#}
                            {#    '</div>' +#}
                            {#    '<a href="javascript:reply(' + data['pk'] + ');">回复</a>' + '</div>';#}
                            var comment_html = '<div id="root_{0}" class="comment-text">' +
                                                '<span>\n' +
                                                    '<img src="{5}" class="img-circle navbar-avatar" alt="Cinque Terre">\n' +
                                                '</span>' +
                                                '<span>{1}</span>' +
                                                '<span>({2}):</span>' +
                                                //<!--在回复的时候，需要显示被回复的内容是什么，所以要取到该值-->
                                                '<div id="content_{0}" class="comment-specific-text">' +
                                                    '{3}' +
                                                '</div>' +
                                                //<!--触发点赞或者取消点赞事件,把this(整个div块都传给ajax的这个function)-->
                                                '<div class="like" onclick="likeChange(this, \'{4}\', {0})">' +
                                                    // 新加的评论或者回复点赞和不喜欢的状态都不是激活状态，所以用不到自定义模板标签,数量也是为0
                                                    '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                                    '<span class="liked-num">0</span> ' +
                                                    '<span>喜欢</span>' +
                                                '</div>' +
                                                '<div class="dislike" onclick="dislikeChange(this, \'{4}\', {0})">' +
                                                    //// 新加的评论或者回复点赞和不喜欢的状态都不是激活状态，所以用不到自定义模板标签,数量也是为0
                                                    '<span class="glyphicon glyphicon-thumbs-down"></span>' +
                                                    '<span class="disliked-num">0</span> ' +
                                                    '<span>不喜欢</span>' +
                                                '</div>' +
                                                //<!--添加回复按钮，调用javascript方法-->
                                                '<a href="javascript:reply({0});">回复</a>' +
                                                '</div>';
                            //使用format批量替换数据format({0}, {1}, {2}, {3}, {4})
                            comment_html = comment_html.format(data['pk'], data['username'], data['comment_time'], data['text'], data['content_type'], data['avatar_url']);
                            // 在id为coment_list的元素中插入上面构造的html代码
                            $("#comment_list").prepend(comment_html);  //在comment_list元素的开头插入构造的html文件
                            $("#comment_error_or_success").text('评论成功！');
                        }else{  //这是一条回复
                            {#var reply_html =  '<div class="reply">' +#}
                            {#    '<span>' + data['username'] + '</span>' +#}
                            {#    '<span>(' + data['comment_time'] + ')</span>' +#}
                            {#    '<span>回复</span>' +#}
                            {#    '<span>' + data['reply_to'] + ':</span>' +#}
                            {#    <!--在回复的时候，需要显示被回复的内容是什么，所以要取到该值-->#}
                            {#    '<div id="content_' + data['pk'] + '">'#}
                            {#        + data['text'] +#}
                            {#    '</div>' +#}
                            {#    '<a href="javascript:reply(' + data['pk'] + ');">回复</a>' + '</div>';#}
                            var reply_html = '<div class="reply">' +
                                                '<span>\n' +
                '                                    <img src="{6}" class="img-circle navbar-avatar" alt="Cinque Terre">\n' +
                '                                </span>' +
                                                '<span>{0}</span>' +
                                                '<span> ({1}) </span>' +
                                                '<span>回复 </span>' +
                                                '<span>{2}:</span>' +
                                                //<!--在回复的时候，需要显示被回复的内容是什么，所以要取到该值-->
                                                '<div id="content_{3}" class="reply-specific-text">' +
                                                    '{4}' +
                                                '</div>' +
                                                '<div class="like" onclick="likeChange(this, \'{5}\', {3})">' +
                                                    '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                                    '<span class="liked-num">0</span> ' +
                                                    '<span>喜欢</span>' +
                                                '</div>' +
                                                '<div class="dislike" onclick="dislikeChange(this, \'{5}\', {3})">' +
                                                    '<span class="glyphicon glyphicon-thumbs-down"></span>' +
                                                    '<span class="disliked-num">0</span> ' +
                                                    '<span>不喜欢</span>' +
                                                '</div>' +
                                                //<!--添加回复按钮，调用javascript方法-->
                                                '<a href="javascript:reply({3});">回复</a>' +
                                            '</div>';
                            reply_html = reply_html.format(data['username'], data['comment_time'], data['reply_to'], data['pk'], data['text'], data['content_type'], data['avatar_url']);
                            $("#root_" + data['root_pk']).append(reply_html);
                            $("#comment_error_or_success").text('回复成功！');
                        }
                        CKEDITOR.instances['id_text'].setData('');
                        $("#reply_content_container").hide();
                        $("#reply_comment_id").val('0');
                        $("#no_comment").remove();
                        $("#comment_error_or_success").show().delay(5000).fadeOut();
                    }
                    else{
                        // 显示错误信息，获取到id为comment_error_or_success的元素，并把后面的内容填上去
                        $("#comment_error_or_success").text(data['message']);
                    }
                },
                error:function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });
        function likeChange(obj, content_type, object_id){
            // 根据传进来的div里面是否有class=active来判断是否已经点赞,is_like是true表示用户进行点赞操作，不然就是取消点赞操作
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({  // 异步提交数据
                url: '{% url "like_change" %}',
                type: 'GET',
                data:{
                    content_type:content_type,
                    object_id:object_id,
                    is_like:is_like,
                    {#object:object,#}
                },
                cache: false,
                success:function(data){
                    console.log(data);
                    if(data['status'] == "SUCCESS"){
                        {#var like_html = '<div class="like" onclick="likeChange(this, "' + {% get_content_type data['object'] %} + '", ' + data['object'].pk + ',' +  data['object'] + ')">' +#}
                        {#                    '<span class="glyphicon glyphicon-thumbs-up' + {% get_like_status data['object'] data['user'] %} + '"></span>' +#}
                        {#                    '<span class="liked-num">' + {% get_like_num data['object'] %} + '</span>' + #}
                        {#                    '<span>喜欢</span>' +#}
                        {#                '</div>';#}
                        // 获取到active所在的前端元素//更新前端页面点赞的状态
                        var like_element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){  //用户是进行点赞操作
                            like_element.addClass('active');
                        }
                        else{  //用户进行取消点赞操作
                            like_element.removeClass('active');
                        }
                        // 更新点赞数量
                        var like_num_element = $(obj.getElementsByClassName('liked-num'));
                        like_num_element.text(data['like_num'])
                    }
                    else{
                        if(data['code']==400){  //如过是用户未登录的错误那么就弹出登录框
                            alert('未登录，请先登录后操作！');
                            $('#login_modal').modal('show');
                        }
                        else{
                            alert(data['message']);
                        }
                    }
                },
                error:function(xhr){
                    console.log(xhr);
                }
            });
        }
        function dislikeChange(obj, content_type, object_id){
            // 根据传进来的div里面是否有class=active来判断是否已经点赞,is_like是true表示用户进行不喜欢操作，不然就是取消不喜欢操作
            var is_dislike = obj.getElementsByClassName('active').length == 0
            $.ajax({  // 异步提交数据
                url: '{% url "dislike_change" %}',
                type: 'GET',
                data:{
                    content_type:content_type,
                    object_id:object_id,
                    is_dislike:is_dislike,
                    {#object:object,#}
                },
                cache: false,
                success:function(data){
                    console.log(data);
                    if(data['status'] == "SUCCESS"){
                        {#var like_html = '<div class="like" onclick="likeChange(this, "' + {% get_content_type data['object'] %} + '", ' + data['object'].pk + ',' +  data['object'] + ')">' +#}
                        {#                    '<span class="glyphicon glyphicon-thumbs-up' + {% get_like_status data['object'] data['user'] %} + '"></span>' +#}
                        {#                    '<span class="liked-num">' + {% get_like_num data['object'] %} + '</span>' + #}
                        {#                    '<span>喜欢</span>' +#}
                        {#                '</div>';#}
                        // 获取到active所在的前端元素//更新前端页面点赞的状态
                        var dislike_element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_dislike){  //用户是进行点赞操作
                            dislike_element.addClass('active');
                        }
                        else{  //用户进行取消点赞操作
                            dislike_element.removeClass('active');
                        }
                        // 更新点赞数量
                        var dislike_num_element = $(obj.getElementsByClassName('disliked-num'));
                        dislike_num_element.text(data['like_num'])
                    }
                    else{
                        if(data['code']==400){  //如过是用户未登录的错误那么就弹出登录框
                            alert('未登录，请先登录后操作！');
                            $('#login_modal').modal('show');
                        }
                        else{
                            alert(data['message']);
                        }
                    }
                },
                error:function(xhr){
                    console.log(xhr);
                }
            });
        }

        //如果是从消息中心跳过来的，那么页面聚焦到评论或者回复的地方
        if (window.location.hash) {
            $('html').animate({scrollTop: $(window.location.hash).offset().top - 60}, 600);
        }
    </script>
{% endblock %}

{#{% block content %}#}
{#    <h2>{{ blog_detail.title }}</h2>#}
{#    <p>作者是：{{ blog_detail.author }}</p>#}
{#    <p>创作时间：{{ blog_detail.created_time | date:'Y-m-d H:n:s' }}</p>#}
{#    <p>博客类型是：#}
{#        {{ blog_detail.blog_type.pk }}#}
{#        <!--blog_detail.blog_type.pk为传进urls.py的数据-->#}
{#        <a href="{% url 'blog_with_type' blog_detail.blog_type.pk %}">{{ blog_detail.blog_type }}</a>#}
{#    </p>#}
{#    <p>{{ blog_detail.content }}</p>#}
{#    <!--a标签内的href的home式urls文件中对应路径的name名字-->#}
{#{% endblock %}#}
