{#嵌套已经使用了bootstrap的blog_list.html模板#}
{#注意相应的for的数据名最好一直#}
{% extends 'blog/blog_list.html' %}
{% block title %}
    类型为{{ blogs_type }}的所有博客
{% endblock %}

{% block blog_list_type %}
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <a href="{% url 'blog_with_type' blogs_type.pk %}">{{ blogs_type }}</a>
{% endblock %}

{#{% block content %}#}
{#    <div>#}
{#        <h2>类型为{{ blogs_type }}的博文如下：</h2>#}
{#    </div>#}
{#    {% for blog in blogs %}#}
{#        <!--其中blo_detail为urls.py文件中的name别称-->#}
{#        <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>#}
{#        <!--利用truncatechars:30过滤器，只显示前30个字符-->#}
{#        <p>{{ blog.content | truncatechars:50}}</p>#}
{#    {% empty %}#}
{#        <!--如果没有获取到内容即for内容为空，则显示下面的内容-->#}
{#        <p>--暂无博客敬请期待--</p>#}
{#    {% endfor %}#}
{#    <!--blog | length计算出可迭代对象长度，即个数-->#}
{#    <p>一共有{{ blogs | length }}篇博客</p>#}
{#    <a href="{% url 'blog_with_type' blog_type_pk %}">返回类型为{{ blogs_type }}的博客列表</a>#}
{#    <br>#}
{#    <a href="{% url 'home' %}">返回博客首页</a>#}
{#{% endblock %}#}

{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>类型为{{ blogs_type }}的所有博客</title>#}
{#</head>#}
{#<body>#}
{#    <div>#}
{#        <h2>类型为{{ blogs_type }}的博文如下：</h2>#}
{#    </div>#}
{#    {% for blog in blogs %}#}
{#        <!--其中blo_detail为urls.py文件中的name别称-->#}
{#        <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>#}
{#        <!--利用truncatechars:30过滤器，只显示前30个字符-->#}
{#        <p>{{ blog.content | truncatechars:50}}</p>#}
{#    {% empty %}#}
{#        <!--如果没有获取到内容即for内容为空，则显示下面的内容-->#}
{#        <p>--暂无博客敬请期待--</p>#}
{#    {% endfor %}#}
{#    <!--blog | length计算出可迭代对象长度，即个数-->#}
{#    <p>一共有{{ blogs | length }}篇博客</p>#}
{#    <a href="{% url 'blog_with_type' blog_type_pk %}">返回类型为{{ blogs_type }}的博客列表</a>#}
{#    <br>#}
{#    <a href="{% url 'home' %}">返回博客首页</a>#}
{#</body>#}
{#</html>#}