{% extends "user/forms.html" %}

{% block script_extends %}
    <script type="text/javascript">
        $('#id_password').blur(function cls() {
            $('#tip').hide();
            $('#tip1').text('');
        });
        $(function () {
            $('#id_password_new_again').blur(function () {
                if($(this).val() != $('#id_password_new').val()){
                    //$('#tip').text('两次密码不一致');
                    $("#tip-password-different").html("*两次密码不一致");
                    $('#submit').addClass('disabled');
                }
                else{
                    $("#tip-password-different").html("");
                    $('#submit').removeClass('disabled');
                }
            })
        })
    </script>
{% endblock %}