{% extends "user/forms.html" %}

{% block script_extends %}
    <script type="text/javascript">
        $('#id_password').blur(function cls() {
            $('#tip').hide();
            $('#tip1').text('');
        });
        // 实时检测密码框一
        $(function () {
           $('#id_password_new').blur(function () {
               if($('#id_password_new_again').val() != ''){
                   if($(this).val() != $('#id_password_new_again').val()){
                       $("#tip-password-different").html("*两次密码不一致");
                       $('#submit').addClass('disabled');
                   }
                   else{
                    $("#tip-password-different").html("");
                    $('#submit').removeClass('disabled');
                   }
               }
           })
        });
        // 实时检测密码框二，在前端页面实时检测两个密码是否一致，不一致实时进行提示，并将修改按钮disable
        $(function () {
            $('#id_password_new_again').blur(function () {
                if($(this).val() != $('#id_password_new').val()){
                    //$('#tip').text('两次密码不一致');
                    $("#tip-password-different").html("*两次密码不一致");
                    $('#submit').addClass('disabled');
                }
                else{
                    $("#tip-password-different").html("");
                    $('#submit').removeClass('disabled');
                }
            })
        })
    </script>
{% endblock %}