{% extends 'base.html' %}
{#另外一种引入css固态文件的方法#}
{% load staticfiles %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'login_logout_error.css' %}">
{% endblock %}

{% block title %}
    我的网站
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <div class="skip_infomation">
        <p>
        {{ message }}还有<span id="sp">4</span>秒跳转到{{ message1 }}
        <a href="{{ redirect_to }}">立即跳转！</a>
    </p>
    <script>
        onload=function () {
            setInterval(go,1000)
        };
        var x=3;
        function go() {

            if (x>=0){
                document.getElementById("sp").innerText=x;
            }else {
                location.href="{{ redirect_to }}";
            }
            x--;
        }
    </script>
    </div>
{% endblock %}