* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 60px;
    padding-bottom: 4em;
}

/*设置导航栏北京颜色*/
div.container-fluid{
    background-color: #f5f6f7;
}

ul {
    list-style-type: none;
}

ul.navbar-right {
    margin-right: 0;
}

span.unread_count{
    background-color: #d9534f!important;
}